/* 
* @Author: sublime text
* @Date:   2019-04-15 16:46:25
* @Last Modified by:   sublime text
* @Last Modified time: 2019-05-08 15:44:55
*/
/*酒店锁css*/

/*标题*/
.jd_Title{
	margin-left: 132px;
	padding-top: 176px;
	/*margin-bottom: 130px;*/
	margin-right: 132px;
}

.jd_Title>div{
	margin-top: 50px;
	width: 100%;
	height: 1px;
	background-color: #000000;

	/*float: left;*/
}

.jd_Title>p{
	font-size: 18px;
	/*padding-left: 78px;*/
	/*padding-top: 0;*/
}

/*底图1*/
.jd_img_1{
	width: 100%;
	height: 312px;
	background-image: url(../img/jds/Base_map1.png);
	background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

/*底图2*/
.jd_img_2{
	width: 100%;
	height: 795px;
	background-image: url(../img/jds/Base_map2.png);
	background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

/*底图3*/
.jd_img_3{
	width: 100%;
	height: 908px;
	background-image: url(../img/jds/Base_map3.png);
	background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

/*底图4*/
.jd_img_4{
	width: 100%;
	height: 795px;
	background-image: url(../img/jds/Base_map4.png);
	background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.jd_div{
	width: 100%;
	height: 200px;
	background-color: #fefefe;
}